.thumb_img {
	width: 50px;
}
.thumb_img>img {
	width: 50px;
}


#order {
	float: right;
	/* border: 1px red solid; */
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	
}
#order>a {
	display: inline;
}
table {
	margin: auto;
	width: 80%;
}
td, th {
	text-align: center;
}