body {
	color: #fff;
}
#videobcg { 
     position: absolute;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1000;
     overflow: hidden;
}
.loginContentWrap {
    width: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}
.loginContentWrap form .btn {
    margin: 20px 0 0 0;
    font-size: 20px;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    padding: 15px 0;
}
.btn.btn-orange {
    background: #fe5621;
    color: #fff;
}    
.container {
	width: 100%;
}