* { box-sizing: border-box; }

html { font-size: 62.5%; }

body { 
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Avenir', Arial, sans-serif;
}

.main-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 6rem;
  color: #444;
  background: #ffffff;
  line-height: 6rem;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: .25s -webkit-transform;
          transition: .25s transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heads-up {
  -webkit-transform: translateY(-6rem);
      -ms-transform: translateY(-6rem);
         transform: translateY(-6rem);
  -webkit-transform: translate3d(0,-6rem,0);
          transform: translate3d(0,-6rem,0);
} 

.main-header h1 {
  float: left;
  font-size: 1.4rem;
  margin: 0 0 0 2rem;
  text-transform: uppercase;
}

.main-header nav {
  float: right;
  font-size: 1.4rem;
}

.main-header nav ul { 
  margin: 0; 
  padding: 0; 
}

.main-header nav li {
  display: inline-block;
  /* padding: 0 2rem; */
  padding-top : 5px;
  /* border-left: .1rem solid #555; */
}

main { 
  padding: 10rem 6rem;
  background: #EEE;
}